.main{
    h1{
        text-transform: uppercase;
        font-size: clamp(2rem,6vw,6rem);
        margin-bottom: .5em;
        margin-top: -.2em;
    }
    p{
        font-size: clamp(1rem,3vw,1.3rem);
        margin-top: 1em;
        margin-right:40px;
    }
}

.section1{
    padding:clamp(20px,5vw,100px);
    justify-content: center;
    >div{
        max-width: 1500px;
        width:90vw
    }
    img{
        margin-bottom: 80px;
    }
}

.team{
    img{
        aspect-ratio: 20 / 30;
    }
}